<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Product page</title>
</head>
<body>
	<div class="container">
		<h1>Edit Product</h1>
	</div>
	<form th:action="@{/save}" th:object="${product}" method="post">
		<br /> <br />
		<table border="0" cellpadding="10">
			<tr>
				<td>Product ID:</td>
				<td><input type="text" th:field="*{id}" readonly="readonly"/></td>
			</tr>
			<tr>
				<td>Product Name:</td>
				<td><input type="text" th:field="*{name}" /></td>
			</tr>
			<tr>
				<td>Price:</td>
				<td><input type="text" th:field="*{price}" /></td>
			</tr>
			<tr>
				<td>Description</td>
				<td><input type="text" th:field="*{description}" /></td>
			</tr>
		</table>
		<input type="submit" value="Save">
	</form>
</body>
</html>